body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #1a1919;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(20, 19, 19);
  border-radius: 0;
  border-bottom: 10px solid rgb(13, 12, 12);
}

.state {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 12px;
}

.row {
  white-space: pre-wrap;
  height: 78px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.prev {
  background-color: #d3d3d3;
  color: white;
}

.curr {
  background-color: #ea5d56;
  color: white;
}

.next {
  background-color: #69c069;
  color: white;
}

.btnSave {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #058caa;
  color: white;
}

.btnSave i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
