body {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 2;
}
.slot {
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}
textarea {
  background: transparent;
  border: none;
  color: black;
  padding: 12px;
}

.before {
  color: black;
  background-color: rgb(190, 181, 181);
}

.now {
  color: black;
  background-color: pink;
}

.after {
  color: black;
  background-color: rgb(216, 240, 180);
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;

  border-bottom: 10px solid black;
}
